
// Fonts
/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);*/

// Variables
/*@import "variables";*/

// Bootstrap
/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/

$amber-500: #FFC107;
$amber-700: #FFA000;

$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-900: #263238;

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;

$white: #FFFFFF;

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway, Futura, 'Century Gothic', AppleGothic, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.main {
    background-color: $white;
    color: $blue-grey-900;
    display: flex;
    font-size: 18px;
    height: 100%;
    overflow: auto;
    width: 100%;
    flex-direction: column;
}

.content-pane {
    padding: 32px;
    order: 3;
    flex: 1 0 auto;
}

.triangle {
    flex: none;
    order: 2;
    height: 64px;
    width: 100%;
    transform: scaleX(-1);
}

.logo-pane {
    background-color: $amber-500;
    flex: 0 0 auto;
    position: relative;
    order: 1;
    padding: 32px 32px 0;
    text-align: right;
}

.logo {
    height: 64px;
    width: auto;
}

.title {
	color: $blue-grey-700;
    font-size: 38px;
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
}

.service {
    &:last-of-type {
        margin-right: 0;
    }

    &__title {
        font-weight: 800;
        color: $blue-grey-700;
        font-size: 28px;
        margin: 0;
        letter-spacing: .5;
        margin: 1em 0 0;
    }

    &__description {
        line-height: 1.6;
        margin: .6em 0 1.2em;
    }
}

.contact {
    border-left: 2px solid $amber-700;
    line-height: 1.6;
    margin-top: 64px;
    padding-left: 16px;

    &__title {
        margin: 0;
        font-size: 24px;
        color: $amber-700;
		font-weight: 800;
    }

    &__email,
    &__phone {
        font-size: 16px;
        margin: 0;
        display: block;
        color: $blue-grey-600;
    }

    &__email {
        text-decoration: none;
		&:hover {
        	text-decoration: underline;
		}
    }
}

@media screen and (min-width: 480px) {
    .title {
        font-size: 48px;
    }

    .logo {
        height: 92px;
    }
}
@media screen and (min-width: 601px) {
    .title {
        font-size: 64px;
    }

    .content-pane {
        padding: 64px;
    }
}
@media screen and (min-width: 768px) {
    .logo-pane {
        padding: 64px 64px 24px 64px;
    }

    .logo {
        height: 128px;
    }

    .services {
        display: flex;
        justify-content: space-between;
    }

    .service {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 33%;
        margin-right: 16px;
    }
}
@media screen and (max-width: 1023px) {
    .logo {
        &__body {
            fill: $white;
        }

        &__name {
            fill: $amber-500;
        }
    }
}

@media screen and (min-width: 1024px) {
    .main {
        flex-direction: row;
		background-image: url(/img/background.jpg);
    }

    .content-pane {
		flex: 1 1 auto;
        order: 1;
        max-width: 60%;
		background-color: $amber-500;
		color: $grey-50;
    }

	.title {
	}

    .triangle {
        order: 2;
        transform: none;
        width: 96px;
        height: 100%;
		flex: none;
    }

    .logo-pane {
		flex: 1 1 auto;
        order: 3;
		background-color: transparent;
		position: relative;
		padding: 0;
    }

    .logo {
		position: absolute;
		bottom: 64px; 
		right: 64px; 
    }

    .service {
        margin-right: 24px;

		&__description {
			color: $grey-100;
		}
    }

	.contact {
		&__title {
			margin: 0;
			font-size: 24px;
			color: $blue-grey-600;
    	}

		&__email, &__phone {
			color: $grey-50;
		}
    }
}

@media screen and (min-width: 1440px) {
	.content-pane {
        max-width: 50%;
    }

	.title {
		font-size: 72px;
	}

	.triangle {
		width: 128px;
	}

	.logo {
		height: 192px;
	}
}

@media screen and (min-width: 1600px) {
	.content-pane {
        max-width: 40%;
    }

	.triangle {
		width: 196px;
	}
}
