
// Fonts
/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);*/

// Variables
/*@import "variables";*/

// Bootstrap
/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Raleway, Futura, 'Century Gothic', AppleGothic, sans-serif;
}

.main {
	background-color: #FFFFFF;
	background-image: url(/img/background.jpg);
	color: #212121;
	display: flex;
	font-size: 18px;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.content-pane {
	flex: 1 1 auto;
	width: 640px;
	max-width: 45%;
	background-color: #FFC107;
	padding: 64px;	
}

.triangle {
	flex: none;
	height: 100%;
	width: 128px;
}

.logo-pane {
	flex: 1 0 auto;
	position: relative;
}

.logo {
	position: absolute;
	bottom: 64px;
	right: 64px;
	height: 200px;
	width: auto;
}

.title {
	font-size: 64px;
	font-weight: 200;
	margin: 0;
	line-height: 1.2;
}


.contact {
	&__title {
		margin: 0 0 8px 0;
		font-size: 24px;
		line-height: 1.2;
	}

	&__email, &__phone {
		font-size: 16px;
		line-height: 1.6;
		margin: 0;
		display: block;
		color: #616161;
	}

	&__email {
		text-decoration: none;
		color: inherit;
	}

	&__phone {
		
	}
}

